<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Shipping Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label color="primary">Shipping Origin</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Origin Address</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder='Address'></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>State</ion-label>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder='State'></ion-input>
      </ion-col>
      <ion-col>
        <ion-label>Country</ion-label>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder='Country'></ion-input>
      </ion-col>
       <ion-col>
        <ion-label>Postal Code</ion-label>
      </ion-col>
      <ion-col>
        <ion-input type="number" placeholder='postcode'></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Contact number</ion-label>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder='Contact No'></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Contact Name</ion-label>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder='Contact Name'></ion-input>
      </ion-col>
    </ion-row>
  

  <ion-item-divider></ion-item-divider>
 
      <ion-row>
        <ion-col>
          <ion-label color="primary">Shipping Destination</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Destination Address</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" placeholder='Address'></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>State</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder='State'></ion-input>
        </ion-col>
        <ion-col>
          <ion-label>Country</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder='Country'></ion-input>
        </ion-col>
         <ion-col>
          <ion-label>Postal Code</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="number" placeholder='postcode'></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Contact number</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder='Contact No'></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Contact Name</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder='Contact Name'></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button>Submit</ion-button>
</ion-content>