<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Cargo Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Cargo type</ion-label>
      </ion-col>
      <ion-col>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Air Cargo</ion-select-option>
          <ion-select-option value="m">Marine Cargo</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Cargo weight</ion-label>
      </ion-col>
      <ion-col>
        <ion-input type="number" value="0"></ion-input>
      </ion-col>
      <ion-col>
        <ion-label>Kg</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Cargo dimensions</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Width </ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="number" value="0"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label>meter</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Length</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="number" value="0"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label>meter</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Height</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="number" value="0"></ion-input>
        </ion-col>
        <ion-col>
          <ion-label>meter</ion-label>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
  <ion-button routerLink="/cargo-description">Next</ion-button>
</ion-content>

    
